/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixin.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */


@import "./blocks/page.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/button.scss";
@import "./blocks/food-programm.scss";
@import "./blocks/program-description.scss";
@import "./blocks/example.scss";
@import "./blocks/invite-to-cooperate.scss";
@import "./blocks/social.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/basic-catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/newsletter.scss";
@import "./blocks/map.scss";
// styles.scss
