.basic-catalog__title {
  @include title-simple;
}

.basic-catalog__list {
  list-style: none;
}

.basic-catalog__link {
  text-decoration: none;
}

.basic-catalog__product-name {
  @include title-uppercase;
  color: #222222;
  line-height: 20px;
}

.basic-catalog__product-description {
  @include text;
  font-size: 12px;
  line-height: 16px;
}

.basic-catalog__product-button {
  @include button;
  padding: 10px 109px;
}

.basic-catalog__view-all {
  h2 {
    @include title-uppercase;
    line-height: 20px;
  }

  p {
    @include text;
    font-size: 12px;
    line-height: 16px;
  }

  position: relative;
  padding: 78px 59px 8px;

  &::before {
    @include pseudo-element-bg ($url: url("../../icons/stack.svg#plus"));
    width: 30px;
    height: 30px;
    top: 25%;
    left: 30%;
  }
}

.basic-catalog__view-all-button {
  @include button;
  background-color: #f2f2f2;
  color: #ffffff;
  padding: 10px 94px;
}

.basic-catalog--additional-catalog {
  h2 {
    @include title-simple;
    font-size: 24px;
    line-height: 24px;
  }

  .basic-catalog__product-name {
    line-height: 16px;
  }

  .basic-catalog__product-description {
    line-height: 14px;
  }
}


.basic-catalog__gift {

  background-image: url("../../images/catalog-background-bag-mobile@1x.png");
  background-color: hsla(97, 53%, 47%, 0.85);
  background-position: center;
  background-size: 280px 290px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 290px;

  &::after {
    @include pseudo-element-bg($url: url("../../icons/stack.svg#icon-gift"));
  }
}
