.basic-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basic-catalog__title {
  @include title-simple;
}

.basic-catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-auto-rows: minmax(324px, auto);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 245px);
    grid-auto-rows: minmax(511px, auto);
    gap: 80px;
  }
}

.basic-catalog__list--additional {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 708px;


    & .basic-catalog__product-button {
      width: 632px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    min-height: 288px;

    & .basic-catalog__product-button {
      width: 244px;
    }
  }
}


.basic-catalog__product-card {
  width: 100%;
  min-height: 209px;
  padding: 20px 20px 25px;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: repeat(3, min-content);
}

.basic-catalog__link {
  text-decoration: none;
}

.basic-catalog__product-name {
  @include title-uppercase;
  color: #222222;
  line-height: 20px;
}

.basic-catalog__product-wrapper {
  // display: flex;
  // flex-direction: column;
  // width: 140px;

  @media (min-width: $tablet-width) {
    // width: 250px;
  }

  @media (min-width: $desktop-width) {
    // width: 169px;
  }
}

.basic-catalog__product-description {
  @include text;
  font-size: 12px;
  line-height: 16px;
  // width: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    // width: 169px;
  }
}

.basic-catalog__product-button {
  @include button;
  padding: 10px 109px;
  // width: 250px;
}

.basic-catalog__view-all {
  h2 {
    @include title-uppercase;
    line-height: 20px;
  }

  p {
    @include text;
    font-size: 12px;
    line-height: 16px;
  }

  position: relative;
  padding: 78px 59px 8px;

  &::before {
    @include pseudo-element-bg ($url: url("../../icons/stack.svg#plus"));
    width: 30px;
    height: 30px;
    top: 25%;
    left: 30%;
  }
}

.basic-catalog__view-all-button {
  @include button;
  background-color: #f2f2f2;
  color: #ffffff;
  padding: 10px 94px;
}

.basic-catalog--additional-catalog {
  h2 {
    @include title-simple;
    font-size: 24px;
    line-height: 24px;
  }

  .basic-catalog__product-name {
    line-height: 16px;
  }

  .basic-catalog__product-description {
    line-height: 14px;
  }
}


.basic-catalog__gift {

  background-image: linear-gradient(hsla(97, 53%, 47%, 0.9), hsla(97, 53%, 47%, 0.9)), url("../../images/catalog-background-bag-mobile@1x.png");
  background-color: hsla(97, 53%, 47%, 0.85);
  background-position: center;
  background-size: 280px 290px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 290px;

  &::after {
    @include pseudo-element-bg($url: url("../../icons/stack.svg#icon-gift"));
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}
