.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter__title {
  @include title-simple;
  font-size: 24px;
  line-height: 24px;
}

.newsletter__form-text {
  @include title-simple;
  font-size: 16px;
  line-height: 24px;
}

.newsletter__form-content {
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (min-width: $tablet-width) {
    width: 632px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
  }
}


.newsletter__form-content input {
  @include title-uppercase;
  font-size: 20px;
  color: #444444;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 376px;
  }
}


.newsletter__form-button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px 82px;
}
