.program-description__title {
  @include title-simple;
  line-height: 40px;
}

.program-description__list {

  margin: 0;
  padding: 0;

  color: #444444;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 60px;

    counter-reset: process;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.program-description__item {
  @include text;
  padding: 20px;
  padding-top: 0;
  padding-left: 100px;
  position: relative;
  list-style: none;
}

.program-description__item--useful::before {
  @include pseudo-element-bg ($url: url("../../icons/stack.svg#icon-useful"));
  background-color: #68b738;
  background-size: 30px 32px;
  top: 0;
  left: 0;
}


.program-description__item--powder::before {
  @include pseudo-element-bg ($url: url("../../icons/stack.svg#icon-powder"));
  background-color: #68b738;
  background-size: 26px 29px;
  top: 0;
  left: 0;
}

.program-description__item--food::before {
  @include pseudo-element-bg ($url: url("../../icons/stack.svg#icon-eat"));
  background-color: #68b738;
  background-size: 25px 30px;
  top: 0;
  left: 0;
}


.program-description__item--time::before {
  @include pseudo-element-bg ($url: url("../../icons/stack.svg#icon-time"));
  background-color: #68b738;
  background-size: 26px 31px;
  top: 0;
  left: 0;
}
