.social {
  width: 280px;
  margin: 0;
  padding: 20px 40px 17px;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 0 0 38px;
  }
}

.social__item {
  padding: 0 12px;
}

.social__link--vkontakte::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#vkontakte"));
}


.social__link--youtube::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#youtube"));
}

.social__link--telegram::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#telegram"));
}

.social__link::before {
  position: relative;
  content: "";
  background-color: #666666;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 28px;
  height: 22px;
  display: block;
}

.social__link:hover::before,
.social__link:focus::before {
  background-color: #68b738;
}

.social__link:active::before {
  background-color: rgba(104, 183, 56, 0.3);
}
