.social {
  list-style: none;
}

.social__link {
  // &:hover,
  // &:focus {
  //   background-color: aqua;
  // }

  // &:active {
  //   background-color: coral;
  // }
  padding-right: 24px;
}

.social__link--vkontakte::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#vkontakte"));
  background-color: #666666;
  width: 24px;
  height: 12px;
}

.social__link--youtube::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#youtube"));
  background-color: #666666;
  width: 24px;
  height: 12px;
}

.social__link--telegram::before {
  @include pseudo-element-mask ($url: url("../../icons/stack.svg#telegram"));
  background-color: #666666;
  width: 24px;
  height: 12px;
}
